{% extends "base/base_pkt.html" %}
{% block content_pkt %}

<!-- Content -->
		<div class="container">
			<div class="row">
				<table class="table table-bordered">

					<tr>
						<th style="background-color:#000; color: #fff;" colspan="2">FINANCIAL</th>
						<th style="background-color:#000; color: #fff;">Dibutuhkan?</th>
						<th style="background-color:#000; color: #fff;">Bisa Dilengkapi</th>
					</tr>

					<!-- Form Hidden-->
				<form class="form-hidden" action="{% url 'pkt:financial' %}" method="post">{% csrf_token %}
					<!-- Form Hidden-->

          {% for pkt in pkt_data %}
					<tr>
						<td>{{ pkt.teks }}</td>
						<td>{{ pkt.koef }}</td>

						<td>
							{% if pkt.id == 16 %}
								High Risk?
							{% elif pkt.id == 17 %}
								Good Profit ?
							{% else %}
							<select class="" name="">
								<option value="yes">Yes</option>
								<option value="no">No</option>
							</select>
							{% endif %}
						</td>

						<td>
							{% if pkt.id == 16 %}
							<select class="" name="data{{ pkt.id }}">
								<option value="{{ pkt.koef }}">No</option>
								<option value="yes">Yes</option>
							</select>
							{% else %}
							<select class="" name="data{{ pkt.id }}">
								<option value="{{ pkt.koef }}">Yes</option>
								<option value="no">No</option>
							</select>
							{% endif %}
						</td>
					</tr>
          {% endfor %}

				</table>
				<input class="btn btn-default btn-lg" type="submit" name="save" value=">">
			</form>
			</div>
		</div>
<!-- /Content -->
	</div>


{% endblock %}
