{% extends "base/base_pkt.html" %}
{% block content_pkt %}
<!-- Content -->
		<div class="container">
			<div class="row">
				<table class="table table-bordered">

					<tr>
						<th style="background-color:#000; color: #fff;" colspan="2">STANDARD DOCS</th>
						<th style="background-color:#000; color: #fff;">Dibutuhkan?</th>
						<th style="background-color:#000; color: #fff;">Bisa Dilengkapi</th>
					</tr>

<!-- Form Hidden-->
					<form class="form-hidden" action="{% url 'pkt:standard_docs' %}" method="post">{% csrf_token %}
<!-- Form Hidden-->
          {% for pkt in pkt_data %}

					<input type="hidden" name="data{{ pkt.id }}" value="{{ pkt.koef }}">

					<tr>
						<td>{{ pkt.teks }}</td>
						<td>{{ pkt.koef }}</td>
						<td>
							{% if pkt.id == 1 %}
							<select class="a" name="">
								<option value="no">No</option>
								<option value="yes">Yes</option>
							</select>
							{% endif %}
						</td>
						<td>
							{% if pkt.id == 1 %}
							<select class="b" name="" disabled="true">
								<option value="no">No</option>
								<option value="yes">Yes</option>
							</select>
							{% endif %}
						</td>
					</tr>
          {% endfor %}

				</table>
					<input class="btn btn-default btn-lg" id="able" type="submit" name="save" value=">" disabled>
				</form>

			</div>
		</div>
<!-- /Content -->
	</div>

{% endblock %}
