{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>BDR</title>
	<link rel="stylesheet" href="{% static '/css/bootstrap.css' %}" media="screen" title="no title">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static '/css/style-pkt.css' %}" media="screen" title="no title">
	<style>
		body{
			background-color: #eee
		}

		.row{
			margin: 30px 0px 30px 0px;
			background-color: #fff;
			padding: 20px;
			border-radius: 5px;
		}

		.container{
			width: 100%;
		}

	</style>
</head>
<body>
	<div id="app">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'pkt:standard_docs' %}">Perhitungan Kualifikasi Tender PT. BDR Indonesia</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="#"></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

  {% block content_pkt %}
  {% endblock %}


	<script src="{% static '/js/jquery-3.1.1.js' %}"></script>
	<script>
		$( document ).ready(function() {
			$('.a').on('change', function() {
				// alert(this.value);
				$('.b').removeAttr("disabled");
			});

			$('.b').on('change', function() {
				// alert(this.value);
				$('#able').removeAttr("disabled");
			});

		});
	</script>
	<script src="{% static '/js/vue.js' %}"></script>
	<!--<script	src="{% static '/js/vpkt.js' %}"></script>-->
</body>
</html>
