{% extends "base/main_base.html" %}
{% load static %}
{% block content %}

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2> BDR Task {{ time }}</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <div class="x_content">
    <div class="col-md-6">

      <div class="panel panel-default">

        <div class="panel-heading">
          New Task
        </div>

        <form class="" action="{% url 'edit_task' task_edit.id %}" method="post">{% csrf_token %}
          <div class="panel-body">
            <div class="form-group">
              <label for="title">Doing Task Date</label>
              <input id="id_doing_date" type="text" name="doing_date" placeholder="Doing Task Date" class="form-control">
            </div>

            <div class="form-group">
              <label for="title">Title Task</label>
              <input type="text" name="title" placeholder="Title Task" class="form-control" value="{{ task_edit.title }}">
            </div>

            <div class="form-group">
              <label for="keterangan">Keterangan Task</label>
              <textarea name="keterangan" placeholder="Keterangan Task" class="form-control">{{task_edit.keterangan}}</textarea>
            </div>

            <input type="submit" name="submit" value="Submit" class="btn btn-primary btn-md">
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading">
          Task Lists
        </div>

        <div class="panel-body">
          <ul class="list-group">
            {% if tasks %}
            {% for task in tasks %}
              {% if task.id == task_edit.id %}

              {% else %}
              <li class="list-group-item">
                <a href="#"><strong>{{ task.title }}</strong></a>
              </li>
              {% endif %}
            {% endfor %}

            {% else %}
            <h5 style="text-align: center">Task kosong</h5>

            {% endif %}
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

<script src="{% static '/js/jquery-3.1.1.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery-ui.js' %}"></script>
<script>
$(document).ready(function() {

  var tomorrow = '{{ task_edit.doing_date|date:"Y-m-d" }}';
  $( "#id_doing_date" ).datepicker({
    dateFormat: "yy-mm-dd",
    minDate: new Date().getDate + 1,
  }).datepicker('setDate', tomorrow);

  $(document).on('click', '#confirm-delete', function(){
    return confirm('Apakah anda yakin akan mengedit ini?');
  });
});
</script>

{% endblock %}
