{% extends "base/main_base.html" %}
{% load static %}
{% block content %}

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2> BDR Task {{ time }}</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <div class="x_content">
    <div class="col-md-6">

      <div class="panel panel-default">

        <div class="panel-heading">
          New Task
        </div>

        <form class="" action="{% url 'input_task' %}" method="post">{% csrf_token %}
          <div class="panel-body">

            <div class="form-group">
              <label for="title">Doing Task Date</label>
              <input id="id_doing_date" type="text" name="doing_date" placeholder="Doing Task Date" class="form-control">
            </div>

            <div class="form-group">
              <label for="title">Title Task</label>
              <input type="text" name="title" placeholder="Title Task" class="form-control">
            </div>

            <div class="form-group">
              <label for="keterangan">Keterangan Task</label>
              <textarea name="keterangan" placeholder="Keterangan Task" class="form-control"></textarea>
            </div>

            <input type="submit" name="submit" value="Submit" class="btn btn-primary btn-md">
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">

        <div class="panel-heading">
          Task Lists
        </div>

        <div class="panel-body">
          <ul class="list-group">
            {% if tasks %}
            {% for task in tasks %}
            <li class="list-group-item">
              <a href="#" data-toggle="modal" data-target="#modal-task-{{ task.id }}"><strong>{{ task.title }}</strong></a>
              <a id="confirm-delete" href="{% url 'edit_task' task.id %}" class="btn btn-info btn-xs right" style="float: right;"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
            </li>
            {% endfor %}

            {% else %}
            <h5 style="text-align: center">Task kosong</h5>

            {% endif %}
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

{% for task in tasks %}
<div class="modal fade" id="modal-task-{{ task.id }}" role="dialog">
   <div class="modal-dialog">
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">{{ task.title }}</h4>
       </div>
       <div class="modal-body">
         <h4>{{ task.keterangan }}</h4>
         <p>Doing Task : {{ task.doing_date }}</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>

  </div>
</div>
{% endfor %}

<script src="{% static '/js/jquery-3.1.1.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery-ui.js' %}"></script>
<script>
$(document).ready(function() {

  var date = new Date();
  if (date.getDate != 5){
    var tomo = date.getDate() + 1;
  } else {
    var tomo = date.getDate() + 3;
  }

  var tomorrow = new Date(date.getFullYear(), date.getMonth(), tomo);

  $( "#id_doing_date" ).datepicker({
    dateFormat: "yy-mm-dd",
    minDate: tomorrow,
  }).datepicker('setDate', tomorrow);

  $(document).on('click', '#confirm-delete', function(){
    return confirm('Apakah anda yakin akan mengedit ini?');
  });
});
</script>

{% endblock %}
