{% extends "base/main_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{# BLOCK MAIN Content #}
<div class="col-md-12 col-sm-12 col-xs-12">
{% block content %}
<div class="x_panel">

    <div class="x_title">
      <h2> Item List {{ budgeting.jobid }}</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <div class="table-responsive">
      <table class="table table-bordered jambo_table">
        <thead class="heading">
          <tr>
            <th class="column-title">No</th>
            <th class="column-title">Description</th>
            <th class="column-title">Quantity</th>
            <th class="column-title">Amount</th>
            <th class="column-title">Total Amount</th>
            <th class="column-title">Action</th>
          </tr>
        </thead>

        <tbody>
          {% if items %}
          {% for item in items  %}

          <tr class="even pointer">
            <td>{{ forloop.counter }} </td>
            <td>{{ item.description }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.tot_amount }}</td>
            <td style="text-align: center;">
              <a id="confirm-delete" href="" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
          {% endfor %}

          {% else %}
          <tr>
            <td colspan="15" style="text-align: center">Data Kosong</td>
          </tr>
          {% endif %}
        <form id="id_items_form" onsubmit="formSubmit();">{% csrf_token %}
          <tr>
            <td></td>
            <td><input placeholder="Description" id="id_description" type="text" class="form-control"></td>
            <td><input placeholder="Quantity" id="id_qty" type="number" class="form-control"></td>
            <td><input placeholder="Amount" id="id_amount" type="number" class="form-control"></td>
            <td><input placeholder="Total Amount" id="id_tot_amount" type="number" class="form-control" disabled="true"></td>
            <td><input class="btn btn-default btn-sm" type="submit" name="submit" value="Add"></td>
          </tr>
        </form>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>
<script>
  var qty = document.getElementById('id_qty');
  var amount = document.getElementById('id_amount');
  var total = document.getElementById('id_tot_amount');
  total.value = 0;

  qty.onkeyup = function(){
    document.getElementById('id_tot_amount').value = parseFloat(qty.value) * parseInt(amount.value);
  };

  amount.onkeyup = function(){
    document.getElementById('id_tot_amount').value = parseFloat(qty.value) * parseInt(amount.value);
  };

  $(document).ready(function() {

    $(document).on('submit','#id_items_form', function(e){
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '{% url "budgeting:budgeting_items" budgeting.id %}',
        data: {
          description: $('#id_description').val(),
          qty: $('#id_qty').val(),
          amount: $('#id_amount').val(),
          tot_amount: $('#id_amount').val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        },

        success:function(data){
          location.reload();
        }
      });

    });
  });
</script>

{% endblock %}
